<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<div class="posts">
    <div class="index">
        <div class="container" style="max-width: 600px">
        <div class="py-5 text-center">
            <h2>관리자 화면</h2>
        </div>
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/user/logout}'|" type="button">
                로그아웃
            </button>
            <hr class="my-4">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">메인 페이지로</button>
        </div>
        </div>
        <div class="py-5 text-center">
            <h2>공지사항 목록</h2>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${notices}">
                <td><a href="item.html" th:href="@{/}" th:text="${notice.noticeId}">No</a></td>
                <td><a href="item.html" th:href="@{/}" th:text="${notice.title}">제목</a></td>
                <td th:text="${notice.createdAt}"></td>
            </tr>
            </tbody>
        </table>
        <hr class="my-4">
        <button class="w-2 btn btn-primary btn-lg" type="button" th:onclick="|location.href='@{/notice/addNotice}'|">
            공지사항 추가
        </button>
        <hr class="my-4">
        <div class="py-5 text-center">
            <h2>광고 목록</h2>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>개인/기업</th>
                <th>광고명</th>
                <th>이미지</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ad : ${ads}">
                <td><a href="item.html" th:href="@{/}" th:text="${ad.adId}">ID</a></td>
                <td><a href="item.html" th:href="@{/}" th:text="${ad.adState}">개인/기업</a></td>
                <td th:text="${ad.adName}">광고명</td>
                <td><a th:href="${ad.adImageURI}" th:target="_blank"/>이미지</td>


            </tr>
            </tbody>
        </table>
    </div>
    <hr class="my-4">
    <button class="w-2 btn btn-primary btn-lg" type="button" th:onclick="|location.href='@{/ad/addAd}'|">
        광고 신청
    </button>
    <hr class="my-4">

</div>
</body>
</html>